<div class="container my-4">
    <div class="row">
        <div class="col-md-3">
            <h5>Danh mục sản phẩm</h5>
            <ul class="list-group">
                <li class="list-group-item">Bảo hộ lao động</li>
                <li class="list-group-item">Thiết bị công trình</li>
                <li class="list-group-item">Khẩu trang</li>
                <li class="list-group-item">Thiết bị điện</li>
            </ul>
        </div>
        <div class="col-md-9">
            <!-- Phần sản phẩm sẽ được đặt tại đây -->
        </div>
    </div>
</div>